.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #363d42; /* Updated background color */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.signup-form input {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.signup-button {
  background-color: var(--orange);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.signup-button:hover {
  background-color: darkorange;
}

.login-link {
  margin-top: 1rem;
  color: var(--gray);
}

.signup-link {
  color: var(--orange);
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
h2 {
  color: white; /* Ensure the "Login" heading is white */
}

p {
  color: white; /* Ensure the "Don't have an account?" text is white */
}